<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="<%= desc %>">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css<% if (includeSass) { %>(.tmp)<% } %> styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild --><% if (includeModernizr) { %>
    <!-- build:js vendor/modernizr.js -->
    <script src="vendor/modernizr/modernizr.js"></script>
    <!-- endbuild --><% } %>
</head>
  <body>
    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="content"></div>

    <!-- build:js(.tmp) scripts/app.js -->
    <script src="scripts/bundle/app.js"></script>
    <!-- endbuild -->
  </body>
</html>
